# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
venv/
.env/
.venv/
env/
ENV/

# Ignore datasets (those can be mounted at runtime)
data/
*.csv
*.gz
*.h5
*.zip

# Ignore notebooks and experiment artifacts
notebooks/
*.ipynb
*.log

# Ignore Docker-related cache
*.swp
*.tmp
.dockerignore
.docker/
docker-compose.yml

# Ignore Git
.git/
.gitignore

# Ignore system files
.DS_Store
Thumbs.db
